.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 250px);
}

.signup__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup__label {
    font-family: var(--second-family);
    color: var(--grey-dark-color);
    font-weight: 700;
    font-size: 32px;
}

.signup__forms {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.signup__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}