.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 40px 30px;
    flex: 1;
}

@media (max-width: 600px) {
    main {
        margin: 30px 20px;
    }
}