.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 220px);
}

.cart__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cart__label {
    font-family: var(--second-family);
    color: var(--grey-dark-color);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.cart__button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}