.auth-redirect {
    font-family: var(--second-family);
    color: var(--grey-light-color);
    font-weight: 700;
    margin: 7px 0 0 20px;
}

.auth-redirect__link {
    color: var(--main-color);
    text-decoration: none;
}