.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.menu__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
}