.app-button.MuiButton-root {
    font-family: var(--second-family);
    font-weight: 700;
    width: 140px;
    height: 40px;
    font-size: 18px;
    border-radius: 40px;
    text-transform: none;
    background: var(--main-color);
    box-shadow: none;
}

.app-button.MuiButton-root:hover {
    box-shadow: none;
}