.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 220px);
    width: 100%;
}

.page__label {
    text-align: center;
    font-family: var(--second-family);
    color: var(--grey-dark-color);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.page__label-welcome {
    text-align: center;
    font-family: var(--second-family);
    color: var(--grey-dark-color);
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}

.page__forms {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.page__button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.page__forms.edit {
    margin-bottom: 30px;
}

.page__sparks {
    position: absolute;
    inset: 0;
    pointer-events: none;
    margin: 80px 0 60px 0;
}

@media (max-width: 768px) {
    .page__label {
        font-size: 26px;
    }

    .page__label-welcome {
        font-size: 24px;
    }

    .page__sparks {
        margin: 70px 0 50px 0;
    }
}

@media (max-width: 600px) {
    .page__label-welcome {
        font-size: 20px;
    }

    .page__error {
        font-size: 20px;
    }

    .page__sparks {
        margin: 60px 0 40px 0;
    }
}