:root {
    --font-family: "Titan One", sans-serif;
    --second-family: "Poppins", sans-serif;
    --main-color: #F5A9A9;
    --white-color: #FFFFFF;
    --grey-light-color: #b7b6b6;
    --grey-dark-color: #838181;
    --error-color: #FF4C4C;
}