.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 170px);
}

.checkout__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.checkout__label {
    font-family: var(--font-family);
    color: var(--grey-dark-color);
    font-weight: 400;
    font-size: 32px;
    margin-bottom: -10px;
}

.checkout__forms {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.checkout__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}