.app-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: max-content;
}

.app-table__container {
    box-shadow: none;
    width: 100%;
    overflow-x: auto;
}

.app-table__container::-webkit-scrollbar {
    height: 0;
}

.app-table__cell {
    font-family: var(--second-family) !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: var(--grey-dark-color) !important;;
    text-align: center !important;
    padding: 15px !important;
    white-space: nowrap;
}

.app-table__cell.head {
    color: var(--grey-light-color) !important;;
}

.app-table__cell.left  {
    text-align: left !important;
}

.app-table__cell.total {
    color: var(--main-color) !important;;
}

.app-table__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-table__quantity {
    min-width: 20px;
    margin: 0 10px;
}

.app-table__button-icon {
    color: var(--main-color) !important;
}

.app-table__button-icon-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-table__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.app-table__fields {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .app-table__cell {
        font-size: 14px !important;
    }
}