.app-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.app-table__container {
    padding: 15px;
    box-shadow: none;
}

.app-table__cell {
    font-family: var(--second-family) !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: var(--grey-dark-color) !important;;
    text-align: center !important;
}

.app-table__cell.head {
    color: var(--grey-light-color) !important;;
}

.app-table__cell.left  {
    text-align: left !important;
}

.app-table__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-table__quantity {
    min-width: 20px;
    margin: 0 10px;
}

.app-table__button-icon {
    color: var(--main-color) !important;
}

.app-table__button-icon-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}