footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: var(--main-color);
    width: 100%;
}

.footer__label {
    font-family: var(--second-family);
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 768px) {
    footer {
        height: 50px;
    }
    .footer__label {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    footer {
        height: 40px;
    }

    .footer__label {
        font-size: 10px;
    }
}