.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 170px);
}

.login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__label {
    font-family: var(--font-family);
    color: var(--grey-dark-color);
    font-weight: 400;
    font-size: 32px;
    margin-bottom: -10px;
}

.login__forms {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.helper-text {
    font-family: var(--font-family);
    color: var(--grey-light-color);
    font-weight: 400;
    margin: 7px 0 0 20px;
}

.text-link {
    color: var(--main-color);
    text-decoration: none;
}

.login__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}