.message-dialog .MuiPaper-root {
    border-radius: 12px !important;
}

.message-dialog__content {
    padding: 25px 25px !important;
}

.message-dialog__message {
    font-family: var(--second-family);
    color: var(--grey-dark-color);
    font-weight: 600;
    font-size: 18px;
}

.message-dialog__actions {
    display: flex;
    justify-content: center !important;
    padding: 0 25px 20px !important;
}

@media (max-width: 600px) {
    .message-dialog__message {
        font-size: 16px;
    }
}