:root {
  --font-family: "Titan One", sans-serif;
  --second-family: "Poppins", sans-serif;
  --main-color: #F5A9A9;
  --white-color: #FFFFFF;
  --grey-light-color: #A3A3A3;
  --grey-dark-color: #838181;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}