:root {
  --font-family: "Titan One", sans-serif;
  --main-color: #F5A9A9;
  --white-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}